/* Add here all your css styles (customizations) */
.logosinaptrix {
    position:relative;
    bottom:10px;
    left:0px;
    width:235.275px;
    height:57px;
}

.divtopbar {
    width: 100px; 
     height: 36px; 
  
}